/*.customformpart .ed-opts {float: left; top: 0; width: 100%;}
.customformpart .ed-opts a {background-color: #ffffff; width: 100%; left: 0; top: 0; height: 38px;}
.btn-group {position: absolute; left: 0; top: 0; height: 38px;}*/


.customehead .search-bar {/*width: 380px;*/width: 250px;}
.customehead nav {width: 68%;/*width: 50%;*/}


.customehead .cinput-group {position: absolute; top: 0; left: 0;}
.customehead .cinput-group-prepend {color: initial; border: initial;}
.customehead .cinput-group-prepend .custom-select {color: initial;  background-color: #f2f2f2; border: none; border-radius: initial; -moz-border-radius: initial; -webkit-border-radius: initial;}
.customehead .search-bar .searchcustom {/*padding-left: 182px;*//*padding-left: 115px;*/}
.customehead .search-bar .input-group {width: initial;}
.ccp-sec {text-align: center;}
.ccp-sec p {float: initial;}
.sign-in-page .signlogo {float: left; width: 100%; text-align: center;}
.sign-in-page .signlogo img {float: none;}

.subsect {background-color: #e6e6e6; border-bottom: 1px solid #d2d2d2;}
.subsect .subbox {float: left; width: 25%; border-right: 1px solid #d2d2d2; padding: 16px 0 14px; }
.subsect .subbox:last-child {border-right: none;}
.subsect .subbox:hover {background-color: #cac9c9;}
.subsect .subbox h4 {color: #000000; font-size: 23px; font-weight: 600; margin-bottom: 3px;}
.subsect .subbox p {font-size: 16px; color: #444444;}
/*.subsect .subbox:hover h4, .subsect .subbox:hover p {color: #ffffff;}*/



/*.start-post {display: flex;}*/

.start-post .post-st {width: 86%; margin-top: 0;}
.start-post .btn {width: 100%; background-color: #ffffff; border: 1px solid #d9d9d9; font-size: 16px; padding: 11px 15px; text-align: left; border-radius: 25px; -moz-border-radius: 25px; -webkit-border-radius: 25px;}
.start-post .btn:hover {background-color: #f2f2f2;}
.start-post .post-icon {float: left; width: 100%; padding: 15px 0 0; display: flex;}
.start-post .post-icon li {flex-grow: 3; text-align: center; padding: 0 5px;}
.start-post .post-icon a {float: left; width: 100%; padding: 10px 0; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 18px; color: #666666;}
.start-post .post-icon a i {margin-right: 5px;}
.start-post .post-icon a i.c-blue {color: #70b5f9;}
.start-post .post-icon a i.c-green {color: #7fc15e;}
.start-post .post-icon a i.c-orange {color: #e7a33e;}
.start-post .post-icon a:hover {background-color: #ebebeb;}

.sartpost .modal-content {position: relative; overflow: hidden;}
.sartpost .visibilitysection {position: absolute; top: 0; bottom: 0; left: 0; right: 0; background-color: #ffffff; display: none;}
/*.sartpost .visibilitysection .visibility-body {padding: 1rem;}*/
.sartpost .visibilitysection .visibility-body p {padding: 1rem;}
.sartpost .visibilitysection .visibility-body ul {display: inline-block; width: 100%; margin-top: 10px;}
.sartpost .visibilitysection .visibility-body ul li {float: left; width: 100%; padding: 20px 0; border-bottom: 1px solid #f2f2f2; padding: 1rem; position: relative; cursor: pointer;}
.sartpost .visibilitysection .visibility-body ul li:last-child {border-bottom: none;}
.sartpost .visibilitysection .visibility-body ul li .type {float: left; }
.sartpost .visibilitysection .visibility-body ul li .type h4 {font-size: 18px; font-weight: 600; color: #191919;}
.sartpost .visibilitysection .visibility-body ul li .type span {font-size: 13px; color: #666666;}
.sartpost .visibilitysection .visibility-body ul li .input-part {position: absolute; top: 50%; transform: translateY(-50%); -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%); right: 15px;}
.sartpost .visibilitysection .modal-header {position: relative;}
.sartpost .visibilitysection .modal-header h4 {padding-left: 50px;}
.sartpost .visibilitysection .modal-header .backbtt {position: absolute; cursor: pointer; border: 1px solid #191919; padding: 8px 12px 9px; left: 15px; top: 50%; transform: translateY(-50%); -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%); border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;}

.sartpost .modal-body {padding: 16px;}
.sartpost .modal-header {background-color: transparent;}
.sartpost .modal-header .close {padding: initial; margin: initial; top: 15px; right: 15px; border: 1px solid #000000 !important;}
.sartpost .modal-header .close:focus {outline: none;}
.sartpost .modal-header .close span {color: #000000;}
.sartpost .modal-header h4 {font-size: 20px; color: #000000;}
.sartpost .modal-body .toppart {display: flex; align-items: center;}
.sartpost .modal-body .toppart .profileimg {width: 100%; height: 100%; border-radius: 100%; -moz-border-radius: 100%; -webkit-border-radius: 100%; overflow: hidden;}
.sartpost .modal-body .toppart .profileimg img {width: 100%; height: 100%; object-fit: cover;}
.sartpost .modal-body .toppart .col1 {flex: 0 0 10%; max-width: 10%;}
.sartpost .modal-body .toppart .col2 {flex: 0 0 90%; max-width: 90%;}
.sartpost .modal-body .lockup_title {padding-left: 15px;}
.sartpost .modal-body .lockup_title h3 {font-size: 18px; font-weight: 600;}
.sartpost .modal-body .lockup_title a {display: inline-block; padding: 5px 30px 7px 10px; border-radius: 25px; -moz-border-radius: 25px; -webkit-border-radius: 25px; border: 1px solid #666666; margin-top: 5px; color: #666666; position: relative;}
.sartpost .modal-body .lockup_title a:before {content: ''; width: 0; height: 0; border-left: 6px solid transparent; border-right: 6px solid transparent; border-top: 6px solid #666666; position: absolute; right: 10px; top: 50%; transform: translateY(-50%); -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%);}
.sartpost .modal-body .lockup_title a i {margin-right: 5px; font-size: 14px;}
.sartpost .modal-body .description {padding-top: 20px;}
.sartpost .modal-body .description .aboutpost {width: 100%; height: 120px; /*border: none;*/}
.sartpost .modal-footer {border-top: 1px solid #dee2e6; padding-bottom: 1rem;}
.sartpost .modal-footer .left-part {float: left;}
.sartpost .modal-footer .left-part ul {display: flex; align-items: center;}
.sartpost .modal-footer .left-part ul li a { background-color: #ffffff; text-align: center; align-items: center; cursor: pointer; display: inline-flex; justify-content: center; height: 40px; width: 40px; min-width: auto; margin-right: 5px;}
.sartpost .modal-footer .left-part ul li a i {font-size: 20px; color: #666666;}
.sartpost .modal-footer .left-part ul li a:hover {border-radius: 100%; background-color: #f2f2f2;}
.sartpost .modal-footer .right-part {float: right;}
.sartpost .modal-footer .right-part a {background-color: #ebebeb; padding: 11px 30px; display: inline-block; color: #908d8d; border-radius: 25px;}
.sartpost .modal-footer .right-part a:hover {background-color: #1E2C75; padding: 11px 30px; display: inline-block; color: #ffffff; border-radius: 25px;}
.sartpost .modal-footer .closebtn {background-color: transparent !important; border: 1px solid #1E2C75; color: #1E2C75 !important;}
.sartpost .modal-footer .closebtn:hover {background-color: #1E2C75 !important; color: #ffffff !important;}

.uploadphoto .modal-body .modal-flex {display: flex; justify-content: center; flex-grow: 1; flex-shrink: 1;}
.uploadphoto .modal-body .modal-flex .inputfile {padding: 45px 0;}

.custom-input {display: none;}
.inputfile label {cursor: pointer; padding: 8px 10px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-weight: 700; font-size: 18px; color: #1E2C75;}
.inputfile label:hover {background-color: #ffebe9;}

#notfound {position: relative; height: 100vh;}
#notfound .notfound {position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.notfound {max-width: 520px; width: 100%; line-height: 1.4; text-align: center;}
.notfound .notfound-404 {position: relative; height: 240px;}
.notfound .notfound-404 h1 {font-family: 'Montserrat', sans-serif; position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); font-size: 252px; font-weight: 900; margin: 0px; color: #262626; text-transform: uppercase; letter-spacing: -40px; margin-left: -20px;}
.notfound .notfound-404 h1>span {text-shadow: -8px 0px 0px #fff;}
.notfound .notfound-404 h3 {font-family: 'Cabin', sans-serif; position: relative; font-size: 16px; font-weight: 700; text-transform: uppercase; color: #262626; margin: 0px; letter-spacing: 3px; padding-left: 6px;}
.notfound h2 {font-family: 'Cabin', sans-serif; font-size: 20px; font-weight: 400; text-transform: uppercase; color: #000; margin-top: 0px; margin-bottom: 25px;}
.notfound a {background-color: #1E2C75; padding: 12px 35px; display: inline-block; color: #ffffff; border-radius: 30px; -moz-border-radius: 30px; -webkit-border-radius: 30px;}
.notfound a:hover {background-color: #d44331;}


.header_profile{margin-right: 10px;max-width: 100%;float: left;height: 30px;padding: 6px 10px;width: 30px;font-weight: bold;background-color: #FF0000;}


.chatbox-holder {
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  height: 0;
}

.chatbox {
  width: 350px;
  height: 400px;
  margin: 0 20px 0 0;
  position: relative;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
  display: flex;
  flex-flow: column;
  border-radius: 10px 10px 0 0;
  background: white;
  bottom: 0;
  transition: .1s ease-out;
  overflow-y: hidden;
  overflow-x: hidden;
}

.chatbox-top {
  position: relative;
  display: flex;
  padding: 15px 0;
  border-radius: 10px 10px 0 0;
  background: #ffffff;
  cursor: pointer;
  align-items: center;
}

.chatbox-icons {
  padding: 0 10px 0 0;
  display: flex;
  position: relative;
}

.chatbox-icons .fa {
  background: rgba(220, 0, 0, .6);
  padding: 3px 5px;
  margin: 0 0 0 3px;
  color: white;
  border-radius: 3px;
  transition: 0.3s;
}

/*.chatbox-icons .fa:hover {
  border-radius: 5px 0 5px 0;
  background: rgba(220, 0, 0, 1);
}*/

.chatbox-icons a, .chatbox-icons a:link, .chatbox-icons a:visited {
  color: white;
}

.chat-partner-name, .chat-group-name {
  flex: 1;
  padding: 2px 0 0 55px;
  font-size: 17px;
  font-weight: bold;
  color: #000000;
  text-shadow: 1px 1px 0 white;
  transition: .1s ease-out;
}

.status {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  /*display: inline-block;*/
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: #cacaca;
  margin: 0 3px 0 0;
  display: none;
}

.online {
  background: #b7fb00;
}

.away {
  background: #ffae00;
}

.donot-disturb {
  background: #ff4343;
}

.chatbox-avatar {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  background: white;
  position: absolute;
  transition: .1s ease-out;
  left: 7px;
}

.chatbox-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.chat-messages {
  border-top: 1px solid rgba(0, 0, 0, .05);
  padding: 10px;
  overflow: auto;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  flex: 1;
}

.message-box-holder {
  width: 100%;
  margin: 0 0 15px;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

.message-sender {
  font-size: 12px;
  margin: 0 0 15px;
  color: #30649c;
  align-self: flex-start;
}

.message-sender a, .message-sender a:link, .message-sender a:visited, .chat-partner-name a, .chat-partner-name span, .chat-partner-name a:link, .chat-partner-name a:visited {
  color: #30649c;
  text-decoration: none;
}

.message-box {
  padding: 6px 10px;
  border-radius: 6px 0 6px 0;
  position: relative;
  background: rgba(100, 170, 0, .1);
  border: 2px solid rgba(100, 170, 0, .1);
  color: #6c6c6c;
  font-size: 14px;
}

.message-box:after {
  content: "";
  position: absolute;
  border: 10px solid transparent;
  border-top: 10px solid rgba(100, 170, 0, .2);
  border-right: none;
  bottom: -22px;
  right: 10px;
}

.message-partner {
  background: rgba(0, 114, 135, .1);
  border: 2px solid rgba(0, 114, 135, .1);
  align-self: flex-start;
}

.message-partner:after {
  right: auto;
  bottom: auto;
  top: -22px;
  left: 9px;
  border: 10px solid transparent;
  border-bottom: 10px solid rgba(0, 114, 135, .2);
  border-left: none;
}

.chat-input-holder {
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

.chat-input {
  resize: none;
  padding: 5px 10px;
  height: 40px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #999999;
  flex: 1;
  border: none;
  background: rgba(0, 0, 0, .05);
   border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.chat-input:focus, .message-send:focus {
  outline: none;
}

.message-send::-moz-focus-inner {
  border:0;
  padding:0;
}

.message-send {
  -webkit-appearance: none;
  background: #1E2C75;
  color: white;
  font-size: 12px;
  padding: 0 15px;
  border: none;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.message-send:hover {
  background-color: #dc0000;
}

.attachment-panel {
  padding: 10px;
  text-align: left;
}

.attachment-panel a, .attachment-panel a:link, .attachment-panel a:visited {
  margin: 0 0 0 15px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
}

.chatbox-min {
  margin-bottom: -347px;
/*   height: 46px; */
}

.chatbox-min .chatbox-avatar {
  width: 35px;
  height: 35px;
}

.chatbox-min .chat-partner-name, .chatbox-min .chat-group-name {
  padding: 0 0 0 55px;
}

.settings-popup {
  background: white;
  border-radius: 20px/10px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .2);
  font-size: 13px;
  opacity: 0;
  padding: 10px 0;
  position: absolute;
  right: 0;
  text-align: left;
  top: 33px;
  transition: .15s;
  transform: scale(1, 0);
  transform-origin: 50% 0;
  width: 120px;
  z-index: 2;
  border-top: 1px solid rgba(0, 0, 0, .2);
  border-bottom: 2px solid rgba(0, 0, 0, .3);
}

.settings-popup:after, .settings-popup:before {
  border: 7px solid transparent;
  border-bottom: 7px solid white;
  border-top: none; 
  content: "";
  position: absolute;
  left: 45px;
  top: -10px;
  border-top: 3px solid rgba(0, 0, 0, .2);
}

.settings-popup:before {
  border-bottom: 7px solid rgba(0, 0, 0, .25);
  top: -11px;
}

.settings-popup:after {
  border-top-color: transparent;
}

#chkSettings {
  display: none;
}

#chkSettings:checked + .settings-popup {
  opacity: 1;
  transform: scale(1, 1);
}

.settings-popup ul li a, .settings-popup ul li a:link, .settings-popup ul li a:visited {
  color: #999;
  text-decoration: none;
  display: block;
  padding: 5px 10px;
}

.settings-popup ul li a:hover {
  background: rgba(0, 0, 0, .05);
}

/*.userlist-box {height: 95vh !important;}
.userlist-box.chatbox-min {margin-bottom: -90.7vh ​!important;}*/

.user-profile .usr-pic > img {height: 100%;}

.userlist-box .list {float: left; width: 100%; position: relative; color: #000000;}
.userlist-box .list:hover {background-color: #f2f2f2 !important;}
.userlist-box .list .imgbox {float: left; width: 40px; height: 40px; position: absolute; top: 50%; left: 15px; transform: translateY(-50%); -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%);}
.userlist-box .list .imgbox img {width: 100%; height: 100%; object-fit: cover;}
.userlist-box .listdesc {float: left; width: 100%; border-bottom: 1px solid #f2f2f2; padding: 15px 15px 15px 65px;}
.userlist-box .listdesc .userpart, .userlist-box .listdesc .userdesc {float: left; width: 100%;}
.userlist-box .listdesc .userpart h3 {float: left; font-weight: 600; font-size: 15px;}
.userlist-box .listdesc .userpart time {float: right; font-size: 13px;}
.userlist-box .listdesc .userdesc {float: left; width: 100%;}
.userlist-box .listdesc .userdesc p {line-height: initial;}
.userlist-box .chat-messages {padding: 0;}
.userlist-box .searchpart {float: left; width: 100%; padding: 15px; background-color: #f2f2f2; position: relative;}
.userlist-box .searchpart .customefield {border: none; width: 100%; height: 35px; padding: 0 15px 0 45px;}
.userlist-box .searchpart:after {content: '\f002'; font-family: 'Font Awesome 5 Free'; font-weight: 900; position: absolute; top: 50%; left: 30px; transform: translateY(-50%); -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%);}
.chatbox-holder .msgdate {float: left; width: 100%; padding: 15px 0; position: relative; text-align: center;}
.chatbox-holder .msgdate:before {content: ''; border-top: 1px solid #e6e6e6; left: 0; right: 0; position: absolute; top: 50%; transform: translateY(-50%); -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%);}
.chatbox-holder .msgdate p {display: inline-block; background-color: #ffffff; padding: 0 15px; position: relative; z-index: 1;}
.chatbox-holder .seen-receipt {text-align: left; float: left; width: 100%;}
.chatbox-holder .seen-receipt .imgbox {width: 18px; height: 18px; display: inline-block;}
.chatbox-holder .seen-receipt .imgbox img {width: 100%; height: 100%; object-fit: cover;}

.userlist-box {height: 600px;}
.userlist-box.chatbox-min {margin-bottom: -547px;}
.userlist-box .uparrow {display: none;} 
.userlist-box .downarrow {display: block;} 
.userlist-box.chatbox-min .downarrow {display: none;} 
.userlist-box.chatbox-min .uparrow {display: block;}

.user_profile .user-pro-img {float: none; margin: -94px auto 28px; width: 190px; height: 190px;}
.user_profile .user-pro-img img {width: 100%; height: 100%; object-fit: cover;}

.custometitle {padding: 0;}
.customelist .row {margin: 0 -15px;}
.customelist .networklist li {float: left; width: 100%;  border-bottom: 1px solid #f2f2f2;}
.customelist .networklist li a {float: left; width: 100%; padding: 16px 20px; color: #686868; font-size: 16px;}
.customelist .networklist li a:hover {background-color: #f2f2f2;}
.customelist .networklist li span {float: right;}
.customelist .company-up-info {padding: 20px 15px; position: relative;}
.customelist .company-up-info .colsebtn {position: absolute; top: 10px; right: 10px; font-size: 25px; color: rgba(0,0,0,0.4);}
.customelist .company-up-info .colsebtn:hover {color: rgba(0,0,0,0.9);}
.customelist .company-up-info .protitle:hover {text-decoration: underline;}

.gallerybox .imgbox {cursor: pointer;}

.col12 {float: left; width: 100%; padding: 0 2px 4px;}
.col2 {float: left; width: 50%; padding: 2px;}
.col2 .imgbox {height: 200px;}
.col3 {float: left; width: 50%; padding:2px;}
.col12 .imgbox {float: left; width: 100%; height: 270px;/*height: 350px;*/}
.col3 .imgbox {float: left; width: 100%; height: 120px;}
.col3 .imgbox img, .col2 .imgbox img, .col12 .imgbox img {height: 100%; object-fit: cover; object-position: center; background-position: center;}


/* CSS used here will be applied after bootstrap.css */


/* So that the modal is displayed in the preview.. You can probably remove this and the above rule */

.hidden {display: none;}

.img-modal {padding-right: 0 !important;}
.img-modal .modal-dialog {
    /* An arbitrary minimum height. Feel free to modify this one as well */
    min-height: 350px;
    height: 80%;
}


.img-modal .like-com {margin-top: 10px;}

.img-modal .modal-content, .img-modal .modal-body, .img-modal .row, .img-modal .modal-image {
    height: 100%;
}

.modal-content {
    border-radius: 0;
}

.modal-body {
    padding-top: 0;
    padding-bottom: 0;
}

.modal-image {
    background: #000;
    padding :0;
}

.modal-image img {
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.img-modal .img-modal-btn {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    background: black;
    opacity: 0;
    font-size: 1.5em;
    width: 45px;
    color: #fff;
    transition: opacity .2s ease-in;
}

.img-modal .modal-image:hover .img-modal-btn {
    opacity: 0.4;  
}

.img-modal .modal-image:hover .img-modal-btn:hover {
   opacity: 0.75;   
}

.img-modal .img-modal-btn.right {
    right: 0;
}

.img-modal .img-modal-btn i {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: -.75em;
}

.img-modal .modal-meta {
    position: relative;   
    height: 100%;
}

.img-modal .modal-meta-top {
    /*position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 45px;*/
    padding: 5px 10px;
}
.img-modal .img-poster {position: relative;}
.img-modal .img-poster .usy-name {padding-left: 60px; padding-top: 10px;}
.img-modal .img-poster .imgbox{width: 60px; height: 60px; position: absolute; left: 0; top: 0;}
.img-modal .img-poster .imgbox img {width: 100%; height: 100%; object-fit: cover;}
.img-modal .modal-meta p {
    margin: 25px 0;
    line-height: 20px;
    color: #666666;
}
@media only screen and (max-width : 992px) {
    .modal-content {
        border-radius: 0;
        max-height: 100%;
        overflow-y: auto;
    }
    
    .img-modal .modal-image {
        height: calc(100% - 100px);
    }
    
    .img-modal .modal-meta {
        height: auto;
    }
    
    .img-modal .modal-meta-top {
        position: static;
        padding-top: 15px;
    }
    
    .img-modal .modal-meta-bottom {
        position: static;
        margin: 0 -15px;
    }
}
.img-modal .close {padding: initial; margin: initial; top: 15px; right: 15px; border: none !important; z-index: 111; height: initial; width: initial; border-radius: initial;}
.img-modal .close:hover {border:none !important; color: initial;}
.img-modal .close:focus {outline: none;}
.img-modal .close span {color: #000000;}

.comment-section .comment {position: relative;}
.comment-section .comment .comment-profile {position: absolute; left: 0; width: 40px; height: 40px;}
.comment-section .comment .comment-profile img {width: 100%; height: 100%; object-fit: cover;}
.comment-section .comment .comment-part {float: left; width: 100%;width: 94%;margin-left: 9%; /*padding-left: 40px;*/}
.comment-section .comment .comment-part .box {float: left; width: 100%; background-color: #f2f2f2; padding: 10px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;}
.comment-section .comment-list {padding-bottom: 20px;}
.comment h3 {font-size: 15px; float: left; margin-bottom: 5px;}
.comment span {float: right; margin-bottom: 5px; font-size: 13px;}
.comment span i {font-size: 12px;}
.comment p {float: left; width: 100%; margin-bottom: 0;}
.comment > a {padding-left: 40px; margin-top: 5px;}
.cartbox .row {margin:  0 -15px;}
/*.cartbox .md-form {position: relative; margin-top: 1.5rem; margin-bottom: 1.5rem;}*/
.cartbox label {margin-bottom: 10px;}
.cartbox .custom-control-label {margin-bottom: 0;}
.cartbox h2 {font-size: 30px; text-transform: uppercase; font-weight: 700;}
.cartbox h4 {font-size: 25px;}
.cartbox h4 .badge-pill {background-color: #1E2C75;}
.cartbox .custbttn {color: #000000; font-size: 18px !important; display: inline-block; background-color: #e5e5e5; height: 50px; padding: 0 15px; line-height: 40px; font-weight: 500; margin: 0; padding: 0; border: 0; font-size: 100%; width: 100%; font: inherit; vertical-align: baseline; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.cartbox .custbttn:focus {outline: none;}
.cartbox .custbttn:hover {background-color: #1E2C75; color: #fff;}
.cartbox .form-control:focus, .cartbox .custom-select:focus {box-shadow: 0 0 0 0.2rem rgb(244 67 54 / 25%); border-color: #ff9890;}
.cartbox .custom-control-input:focus~.custom-control-label::before {box-shadow: 0 0 0 0.2rem rgb(244 67 54 / 25%);}
.cartbox .custom-control-input:focus:not(:checked)~.custom-control-label::before {border-color: #ff9890;}
.cartbox .list-group h6, .cartbox .list-group .text-muted {font-weight: 700; color: #212529 !important; font-size: 23px;}


.educationprofile .educationinfo {padding: 15px; border-bottom: 1px solid #d2d2d2; margin-top: 20px; background-color: #ffffff;}
.educationprofile .educationinfo a {color: #000000; font-size: 20px;}
.educationprofile .acc-leftbar {margin-bottom: 5px;}
.educationprofile .acc-leftbar a {width: initial;}
.educationprofile .acc-leftbar .nav-tabs > a:last-child {border-bottom: 1px solid #e5e5e5;}
.educationprofile .acc-leftbar .nav-tabs > a.active:last-child {border-bottom: 1px solid #1E2C75;}
.btn-orange {background-color: #1E2C75; color: #ffffff !important; text-transform: uppercase; font-size: 15px !important; margin-top: 4px;}
.btn-orange:hover {background-color: #e43e29; color: #ffffff;}
.educationprofile .account-tabs-setting {padding-top: 20px;}
.educationprofile .row {margin-right: -15px; margin-left: -15px;}
.educationprofile .schoolinformation .infopart {padding: 15px; display: inline-block; width: 100%;}
.educationprofile .schoolinformation .valuespecify {display: table; width: 80%; margin: 0 auto 10px;}
.educationprofile .schoolinformation .valuespecify span {margin-right: 5px; font-weight: 700;}
.educationprofile .schoolinformation .tablepart h3 {font-weight: 600; padding: 15px 0; margin-top: 15px; font-size: 18px;}
.educationprofile .schoolinformation .tablepart ul {width: 80%;}
.educationprofile .schoolinformation .tablepart li {display: inline-block; width: 100%; padding: 10px 0px 12px; border-bottom: 1px solid #d2d2d2;}
.educationprofile .schoolinformation .tablepart li span {float: left; width: 60%;}
.educationprofile .schoolinformation .tablepart li p {float: left; width: 40%; font-size: 16px; line-height: inherit;}
.educationprofile .schoolinformation .notifications-list .notification-info {padding-top: 7px;}

.educationprofile .schoolinformation .athleticsinfo .tablepart ul {width: 100%;}
.educationprofile .schoolinformation .athleticsinfo .tablepart li span, .educationprofile .schoolinformation .athleticsinfo .tablepart li p {width: 50%;}
.educationprofile .schoolinformation .athleticsinfo .listbox li {background-color: #f2f2f2; padding: 5px 10px; float: left; margin: 2px;}
.educationinfo .bttnbox {padding: 0 0 10px;}
.educationinfo .acc-leftbar {border-left: none; border-right: none; float: right; width: initial;}
