#exampleInputEmail1-error,#exampleInputPassword1-error,#email-error,#password-error,#sport-error,#first_name-error,#last_name-error,#gender-error,#graduation_year-error,#country-error,#postal_code-error,#parent_email-error,#high_school-error,#gpa-error,#dob-error,#street_address-error,#city-error,#state-error,#school_type-error,#parent_name-error,#parent_phone-error,#parent_email-error,#personal_street_address-error,#personal_city-error,#personal_state-error,#personal_country-error,#confirm_password-error,#parent_email-error,#parent_password-error,#parent_confirm_password-error,#parent_sport-error,#coach_type-error,#position-error,#team_coach-error,#school_name-error,#address-error,#agent_email-error,#agent_password-error,#agent_coach_type-error,#agent_sport-error,#agent_confirm_password-error,#phone-error,#old_password-error,#new_password-error,#parent_last_name-error,#profile_photo-error,#gallery_name-error,#profile_video-error,#role_id-error,#message-error,#subject-error,#cc-name-error,#card_number-error,#card_expiry_month-error,#card_expiry_year-error,#card_cvc-error{color:red;}

.required{color:red;font-size:18px;}

.msg{color:red;font-weight: 500!important;}

.planbtn{
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.125em 2em;
    background: #1E2C75;
    border-radius: .5em;
    width: 100%;
}

.border-top
{
  margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #e5e5e5 !important;
}

.border-bottom
{
  margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-bottom: 1px solid #e5e5e5 !important;
}

.border-bottom-1{
  margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-bottom: 1px solid gray !important;
}

.borderradius{
  border-radius:50%!important;
}

.font-weight-bold-500{
  font-weight: 500;
}

.default-active{
  color: #1E2C75!important;
}

.default-color{
  color: #1E2C75!important;
}

.btn-default1{
  background-color: #1E2C75!important;
  color: #fff;
}
.btn-default1:hover{
  background-color: #1E2C75!important;
  color: #fff!important;
}

.btn-cancel{
  background-color: #e5e5e5!important;
  color: #b2b2b2!important;
}

.btn-cancel:hover{
  background-color: #e5e5e5!important;
  color: #b2b2b2!important;
  border-color:#e5e5e5!important;
}

.loadmore{
  background-color: #d5d5d5!important;
  color: #000!important;
  padding:8px 30px;
  font-size: 18px;
}

.hide{
  display: none;
}

.show{
  display: block;
}

.col1 {float: left; width: 33%; padding:2px;}
.col1 .imgbox {float: left; width: 100%; height:120px;}
.col1 .imgbox img {height: 100%; object-fit: cover; object-position: center; background-position: center;}

.font-weight-none{
  font-weight: initial!important;
}

.gallerybtns:focus{
  color:#f8f9fa!important;
}

.error{
  color: #dc3545;
}

.d-none{
  display: none;
}

.actionbtns{
  display: -webkit-inline-box;
}
.actionbtns a{
  margin-right: 10px;
}

.likebtcmt{
      color: gray!important;
    font-size: 13px;
    width: 30px;
    height: 30px;
    background-color: lightgray;
    line-height: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    float: left;
    text-align: center;
    font-weight: 600;
}

.comment .likebtcmt i{
  font-size: 14px;
}

.likebtcmt .create_comment_like{
  color: gray;
    font-size: 13px;
    width: 30px;
    height: 30px;
    background-color: lightgray;
    line-height: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    float: left;
    text-align: center;
    font-weight: 600;
}

.replaybtntxt_coment{
  line-height: 2;
}

.fa{
  font-weight: 900;
}

/* ============ login-resources ============= */

.login-resources ul {
	float: left;
	width: 100%;
}
.login-resources ul li {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}
.login-resources ul li a {
	color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    float: left;
    width: 100%;
    padding: 10px 0;
}
.login-resources ul li a i {
	margin-right: 15px;
}
.fb {
	background-color: #3b5998;
}
.tw {
	background-color: #4099ff;
}
.gm{
	background-color: #BB001B;
}

.tw .fa-twitter {
	color: #fff;
}

.upgradeplan{
  border: 1px solid #1E2C75;
    padding: 10px 29px 10px;
    border-radius: 25px;
    font-size: 15px;
    color: #1E2C75;
    display: inline-block;
    line-height: 1.4;
    margin: auto;
    text-align: center;
}
.upgradeplan:hover{
  background-color: #1E2C75;
    color: #fff;
}
.plannm{
  padding-top: 9px;
    display: block;
    font-weight: 400;
    font-size: 14px;
}
.plan-btn-wrapper {
    float: left;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
	/****** Style Star Rating Widget *****/

  .rating { 
    border: none;
    float: left;
  }
  
  .rating > input { display: none; } 
  .rating > label:before { 
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
  }
  
  .rating > .half:before { 
    content: "\f089";
    position: absolute;
  }
  
  .rating > label { 
    color: #ddd; 
   float: right; 
   cursor:pointer;
  }

  .rating_start{
	color:#b7ce1f;
  }
  
  /***** CSS Magic to Highlight Stars on Hover *****/
  
  .rating > input:checked ~ label, /* show gold star when clicked */
  .rating:not(:checked) > label:hover, /* hover current star */
  .rating:not(:checked) > label:hover ~ label { /*color: #FFD700;*/color:#b7ce1f;  } /* hover previous stars in list */
  
  .rating > input:checked + label:hover, /* hover current star when changing rating */
  .rating > input:checked ~ label:hover,
  .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
  .rating > input:checked ~ label:hover ~ label { /*color: #FFED85;*/color:#b7ce1f;cursor:pointer;  }



  .bootbox .modal-body{
    padding: 20px!important;
  }

  .bootbox .btn-primary{
    background-color: #1E2C75;
  }
  
  .bootbox .btn-primary:hover{
    background-color: #1E2C75;
    border: 0px;
  }

  .bootbox .btn-secondary{
    color: #b2b2b2;
    background-color: #e5e5e5;
  }
  .bootbox .btn-secondary:hover{
    color: #b2b2b2;
    border: 0px;
    background-color: #e5e5e5;
  }

  .bootbox .modal-footer {
    text-align: right;
  }

  

  .bootbox .close{
    color: #000000;
  }
  
  .like{
    color: #1E2C75!important;
  }

  .borderbottom{
    border-bottom: 1px solid #dee2e6;
  }

  .tablewidth{
    width: 100%!important;
  }

  .like_show{
    cursor: pointer;
  }
  .cursor_pointer{
    cursor: pointer;
  }


/*.sartpost .custom-footer{
  border-top: 1px solid #dee2e6;
  padding-bottom: 1rem;  
}*/

.custom-footer {
    /*border-top: 1px solid #dee2e6;
    padding-bottom: 1rem;*/ 
    display: block!important;
    border-top: none;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: .3rem;
    border-bottom-left-radius: .3rem;
    /*padding-bottom: 30px;*/
}

.comment-section {
    float: left;
    width: 100%;
    background-color: #fff;
    padding: 0px;
    box-shadow: 0px 0px #e4e4e4; 
}
.replayDiv{
  margin-top: 0px;  
}

.social_links li a{
  overflow: visible!important;
}

.hideReplyDiv
{
  display:none;
  margin-top:15px;
}
.hideCommentDiv
{
  display:none;
}
.hideMoreComment
{
  display:none;
}
.deleteComment
{
  cursor:pointer;
}
.replayDiv
{
  margin-top:20px;
}

.hideEditDiv
{
  display:none;
  margin-top:15px;
}
.editCommentEdit
{
  cursor:pointer;
}

.fa-heading-pencil{
  padding-left: 5px;;
  font-size: 16px!important;
  color:#000000;
}

.overview_small_text{
  color: #b2b2b2;
  font-size: 12px;
  /* float: right;
  margin-bottom: 5px; */
}
#overview,#education_description{
  resize: none;
}
.cursorPointer{
  cursor: pointer;
}

.dynamic_school_list .suggestions-list{
  height: auto!important;
  max-height:600px;
  overflow-y: auto;
}

.dynamic_athlete_list .suggestions-list{
  height: auto!important;
  max-height:600px;
  overflow-y: auto;
}


.coach_form .regbox {width: 100%; margin: 0 auto; padding:40px 10px; box-shadow: 0 0 20px #f2f2f2; -moz-box-shadow: 0 0 20px #f2f2f2; -webkit-box-shadow: 0 0 20px #f2f2f2; border: 1px solid #f6f6f6; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;}
.coach_form .titlebox {text-align: center; margin-bottom: 20px;}
.coach_form .titlebox h4 {font-size: 30px; text-transform: uppercase; font-family: 'FivoSansBold'; padding-bottom: 10px;}
.coach_form .regbox .forgotpass {padding-top: 12px; display: inline-block; text-decoration: underline; color: #333333;}
.custfield {height: 50px;}
.coach_form .regbox .forgotpass:hover {color: #ef4135;}
.coach_form .regbox .cbttn {font-size: 18px; text-transform: uppercase; height: 50px; padding-top: 5px;}
.coach_form .regbox .all_tab {display: inline-block; width: 100%; border: 1px solid #f2f2f2; padding: 15px;}

.coach_form .regbox .formttermcon {text-align: center; margin-top: 15px;}
.coach_form .regbox small {color: #777777; display: block;}
.coach_form .regbox small a {text-align: center; color: #000000;}
.coach_form .regbox small a:hover {color: #ef4135;}

.coach_form .regbox .regmenu {float: left; width: 100%; border-bottom: 1px solid #f2f2f2;} 
.coach_form .regbox .regmenu {width: 100%;}
.coach_form .regbox .regmenu li {float: left; background-color: #f2f2f2; font-size: 20px; padding: 12px 30px 10px; text-align: center; width: 100%; margin-right: 4px; cursor: pointer; border-top-right-radius: 7px; -moz-border-top-right-radius: 7px; -webkit-border-top-right-radius: 7px; border-top-left-radius: 7px; -moz-border-top-left-radius: 7px; -webkit-border-top-left-radius: 7px;color: #000000;}
.coach_form .regbox .regmenu li:last-child {margin-right: 0;}
.coach_form .regbox .regmenu li.active {background-color: #ef4135; color: #ffffff;}
.coach_form .previstep {display: inline-block; margin-top: 10px;}

.subsect .subbox_3 {float: left; width: 33.33%; border-right: 1px solid #d2d2d2; padding: 16px 0 14px; }
.subsect .subbox_3:last-child {border-right: none;}
.subsect .subbox_3:hover {background-color: #cac9c9;}
.subsect .subbox_3 h4 {color: #000000; font-size: 23px; font-weight: 600; margin-bottom: 3px;}
.subsect .subbox_3 p {font-size: 16px; color: #444444;}

.subbox1 {
  width: 100%;
  padding: 18px 0px 10px 0px;
  border-top: 4px solid #1E2C75;
  background-color: #fff;
}
.subbox1:last-child{
  border-right: 0px solid #d2d2d2;
}

.subbox1 h4 {
  color: #000000;
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 3px;
}

.subbox1 p {
  font-size: 16px;
  color: #444444;
}

.subsect1 h1{
  color: #000000;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 3px;
}

.h1{
  color: #000000;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 3px;
}

.h1_small{
  color: #000000;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 10px;
}

.coach_sub_box{
  width: 100%;
  height: auto!important;
  min-height: 360px;
  background-color: #fff;
  float: left;
  
}

.coach_sub_box_first{
  line-height: 3;
}

.coach_sub_box i{
  color: #1E2C75;
}

.coach_sub_box .first_inner_box{
  line-height: 360px;
}

.email_history{
  background-color: #fff;
}
.bg-white{
  background-color: #fff;
}

.job_descp > p {
    word-break: break-word!important;
}

/* .table tr th{
  text-align: center;
}
.table tr td{
  text-align: center;
} */

.coach_form .regbox1{  
  width: 100%;
  margin: 0 auto;
  padding: 40px 10px;
  border: 1px solid #f6f6f6;
  box-shadow: none!important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.company_profile_info{
  height: 256px;
  border-bottom: 0px!important;
}
.company-up-info{
  border:none!important;
}
.company_profile_info1{
  height: 200px!important;
}

.bordernone{
  border:none;
}

.company_profile_info2{
  height: auto!important;
  background-color: #fff;
  text-align: center;
}

.link_label{
  color: #000000!important;
}

.link_label_profile{
  color: #686868;
}

.table_responsive{
  width: 100%;
  overflow-x: auto;
}

.paymenttab{
  background-color: #fff;
  height: auto;
  max-height: 800px;
  /* padding-top: 20px; */
}

.innerh3{
  width: 100%;
  color: #000000;
  font-weight: 600;
  font-size: 16px;
}

.paymenttab > h3{
  float: left;
  width: 100%;
  color: #000000;
  font-weight: 600;
  font-size: 18px;
  text-transform: capitalize;
  border-bottom: 1px solid #e5e5e5;
  padding: 17px 20px;
}

.transaction_history{
  overflow-y:auto;
  max-height: 400px!important;
}

.height-40{
  height: 40px;
}

.pagination li a{
  color: #000!important;
}
.pagination li{
  background-color: #e5e5e5!important;
  color: #000!important;
  padding: 10px;
}

.pagination .active{
  background-color: #1E2C75!important;
  color: #fff!important;
}

.pagination .disabled{
  background-color: #e5e5e5!important;
  color: #000!important;
}

.pagination{
  justify-content: center!important;
}

.editfont_photo{
  font-size: 12px;
}

.mt6{
  margin-top: 6px;
}

.font-bold{
  font-weight: bold;
}

.table-th-center tr th{
  text-align: center;
  font-weight: bold;
}

.notification_count{
  position: absolute;
  bottom: 35px;
  left: 45px;
  background-color: #30649c;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 14px;
}

.unfollow{
  background-color: #53d690;
  margin-top: 8px;
}

.company_profile_info_unfollow{
  height: 220px!important;
}

.comment_box input{
  width: 350px!important;
}

.sartpost .modal-footer .right-part .btn-models_btn {
    background-color: #ebebeb;
    padding: 11px 30px;
    display: inline-block;
    color: #908d8d;
    border-radius: 25px;
}

.sartpost .modal-footer .right-part .btn-models_btn:hover {
    background-color: #1E2C75;
    color: #fff;
    border-radius: 25px;
}

.bgwhitephone{
  background:#fff!important;
  color:#ef4135!important;
}

.goog-te-combo{
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 0px;
  font-weight: 600;
  font-family: 'FivoSansRegular'!important;
  background-color:transparent;
  font-size:16px!important;
}
.goog-te-combo option{
  color: #333!important;
}
.goog-logo-link{
  color:#fff!important;
}

.terms_condition li{
  list-style-type: disc;
  padding-bottom:10px;
}
.pl5{
  padding-left: 10px;
}

.facalender{
  line-height: 2;
  background-color: #e9ecef;
  padding: 0px 14px;
  border: 1px solid #ced4da;
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
}
.facalender1{
  line-height: 2;
  background-color: #e9ecef;
  padding: 0px 14px;
  border: 1px solid #ced4da;
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

.custfield_dob{
  background-color: #fff!important;
}

.ml-4-custom{
  margin-left: 2.4rem!important;
}

/*.like-com li span{
  height: 30px!important;
  line-height: 30px!important;
}*/

.like-com li{
  margin-right: 0px!important;
}

.mrcountbox_postlike{
  margin-left: 7px!important;
  margin-right: 8px!important;
}

.comment > a {
  padding-left: 0px!important;
}

.comment .emjbtn_comment img{
  top: -5px!important;
}

/*----------------  like btn  ---------------------------*/

.emjbtn_like {
    position: relative;
    border: 0px solid #dedede; 
    background: transparent;
    outline: none!important;
    cursor: pointer;
}
.emjbtn_like:before {
    position: absolute;
    content: "";
    background: transparent;
    padding: 10px 15px;
    position: absolute;
    top: 314px;
    left: 4%;
    border: 0px solid #dedede;
    outline: none;
    cursor: pointer;
}
.emjbtn_like .emoji-container {
  opacity: 0;
  position: absolute;
  bottom: 25px;
  left: 50%;
  margin-left: -40px;
  background: #fff;
  height: 50px;
  width: 290px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  padding: 1px;
  box-sizing: border-box;
  transition: opacity 200ms ease;
  pointer-events: none;
  z-index: 999999;
}
.emjbtn_like .emoji-container .emoji {
  width: 48px;
  height: 48px;
  float: left;
}
.emjbtn_like .emoji-container .emoji .icon {
  width: 48px;
  height: 48px;
  float: left;
  transform: scale(0.8, 0.8) translate(0, 0);
  transition: transform 200ms ease;
}
.emjbtn_like .emoji-container .emoji .icon:hover {
  transform: scale(1, 1) translate(0, -6px);
}
.emjbtn_like .emoji-container .emoji .icon:hover:after {
  opacity: 1;
}
.emjbtn_like:hover .emoji-container {
  opacity: 1;
  pointer-events: all;
}
.emojibtn_class{
  background-color: #fff;
}

/*------------------------------ COMMENT btn  ----------------------------------------*/

.emjbtn_comment {
    position: relative;
    border: 0px solid #dedede; 
    background: transparent;
    outline: none!important;
    cursor: pointer;
    margin-left: 15px;
}
.emjbtn_comment:before{
    position: absolute;
    content: "";
    background: transparent;
    padding: 10px 15px;
    position: absolute;
    top: 52px;
    left: 8%;
    border: 0px solid #dedede;
    outline: none;
    cursor: pointer;
}
.emjbtn_comment .emoji-container {
  opacity: 0;
  position: absolute;
  bottom: 25px;
  left: 50%;
  margin-left: -40px;
  background: #fff;
  height: 45px;
  width: 290px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  padding: 1px;
  box-sizing: border-box;
  transition: opacity 200ms ease;
  pointer-events: none;
  z-index: 999999;
}
.emjbtn_comment .emoji-container .emoji {
  width: 48px;
  height: 48px;
  float: left;
}
.emjbtn_comment .emoji-container .emoji .icon {
  width: 48px;
  height: 48px;
  float: left;
  transform: scale(0.8, 0.8) translate(0, 0);
  transition: transform 200ms ease;
}
.emjbtn_comment .emoji-container .emoji .icon:hover {
  transform: scale(1, 1) translate(0, -6px);
}
.emjbtn_comment .emoji-container .emoji .icon:hover:after {
  opacity: 1;
}
.emjbtn_comment:hover .emoji-container {
  opacity: 1;
  pointer-events: all;
}
/*.emojibtn_class{
  background-color: #fff;
}*/

/*------------- Comment replay btn ----------------------------*/


.emjbtn_replay {
    position: relative;
    border: 0px solid #dedede; 
    background: transparent;
    outline: none!important;
    cursor: pointer;
    /*margin-top: -3px;*/
}
.emjbtn_replay:before{
    position: absolute;
    content: "";
    background: transparent;
    padding: 10px 15px;
    position: absolute;
    top: 52px;
    left: 8%;
    border: 0px solid #dedede;
    outline: none;
    cursor: pointer;
}
.emjbtn_replay .emoji-container {
  z-index: 999999;
  opacity: 0;
  position: absolute;
  bottom: 25px;
  left: 50%;
  margin-left: -40px;
  background: #fff;
  height: 52px;
  width: 290px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  padding: 1px;
  box-sizing: border-box;
  transition: opacity 200ms ease;
  pointer-events: none;
}
.emjbtn_replay .emoji-container .emoji {
  width: 48px;
  height: 48px;
  float: left;
}
.emjbtn_replay .emoji-container .emoji .icon {
  width: 48px;
  height: 48px;
  float: left;
  transform: scale(0.8, 0.8) translate(0, 0);
  transition: transform 200ms ease;
}
.emjbtn_replay .emoji-container .emoji .icon:hover {
  transform: scale(1, 1) translate(0, -6px);
}
.emjbtn_replay .emoji-container .emoji .icon:hover:after {
  opacity: 1;
}
.emjbtn_replay:hover .emoji-container {
  opacity: 1;
  pointer-events: all;
}


/*------------------------------------------------------------------*/

.count_span{
  color: #ffffff;
    font-size: 13px;
    width: 30px;
    height: 30px;
    background-color: #1E2C75;
    line-height: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    float: left;
    text-align: center;
    font-weight: 600;
}

.replaybtn-margin{
  margin-top: 3px;
    /*margin-right: -5px;*/
}
/*.replaybtn-margin1{
  margin-left: -20px;
}*/

/*.mt1reply{
     margin-top: .15rem!important;
    margin-left: -8px!important;
}*/

.pl10{
 padding-left: 10px; 
}

.emojibtn_class1{
  margin-left: -18px;
}

.comment span{
  float: left!important;
}

.replaybtn-margin1 img{
  top:0px!important;
  outline: none!important;
}

.widthcolmd2{
      flex: 0 0 11%;
}
.widthcolmd2_replay{
  /*flex: 0 0 14%;*/
  flex: 0 0 10%;
}

.mt1reply img{
  top:0px!important;
}

.ml_counterspan{
  margin-left: 2px;
}

.comment_box button{
  float: right;
    color: #fff;
    background-color: #1E2C75;
    height: 30px;
    padding: 0 10px;
    text-align: center;
    font-size: 14px;
    border: 0;
    margin-left: 10px;
    cursor: pointer;
    font-weight: 600;
}

.btncmtwidth{
  max-width: 14.666667%;
}

.widthpostprofile{
      max-width: 8.666667%;
}

.mtcustomcmt{
  margin-top: 6px;
}

.sub_box{
  border-top: 4px solid #ef3e35!important;
  border-radius: 0px!important;
  background-color: #ffffff;
}
.sub_box a{
  padding: 9px 15px 8px!important;
}
.sub_box a:hover{
  background-color: #ef3e35;
  color: #ffffff;
}
.dropdown .dropdown-menu{
  padding: 0px!important;
}


.main_heading_icons .active  i{
  color: #1E2C75;
}

.main_heading_icons li i{
  color: gray;
}

.user_profile_main_center_section .main_heading_icons i{
  font-size: 28px;
  float: none;
  margin-bottom: 6px;
  /*filter: grayscale(100%);*/
}

.btn-default {
    color: #333;
    background-color: lightgray;
    border-color: lightgray;
}