@media only screen and (max-width: 1600px) {
	.breatcome_area {background-position: center 37%;}
}
@media only screen and (max-width: 1343px) {
	.subscribe .subscribe-pan form.box {width: 65%;}
}
@media only screen and (max-width: 1200px) {
	.container {max-width: 1240px;}

}
@media only screen and (max-width: 1199px){
	.communitypart .mainimg {width: 100%; position: initial; border-radius: initial; -moz-border-radius: initial; -webkit-border-radius: initial;}
	.communitypart .infopart {margin-top: 0;}
	.communitypart {padding-bottom: 0; margin-bottom: 0;}
	.footer .flogo img {width: 100%;}
	.subscribe .subscribe-pan form.box {width: 70%;}
	.subscribe .subscribe-pan form.box input {width: 75%;}

	.selectshool .searchlabel h4 {font-size: 14px;}
	.selectshool .searchlabel p {font-size: 16px;}

	.custheader .custnav .menus > li {margin: 15px 7px 0 7px;}
}		
@media only screen and (max-width: 991px){
	.subscribe .subscribe-pan form.box {width: 100%;}
	.container-fluid {padding-right: 15px; padding-left: 15px;}

	.selectshool .searchlabel {margin-top: 25px;}


	.mainslider .infobox h3 {font-size: 30px;}
	.mainslider .infobox h4 {font-size: 25px;}

	.custheader .logo {width: 115px;}
	.custheader .custnav .menus > li > a {font-size: 13px;}
	.custheader .signin {padding: 10px 20px 9px !important;}
	.custheader .custnav {margin-top: 14px;}
} 
@media only screen and (max-width: 767px){
	header .logo {width: 100% !important; text-align: center;}
	header .rpart {padding-bottom: 0; width: 100%; text-align: center;}
	header .rpart ul {float: none; display: inline-block; margin-right: 0;}
	header .rpart ul li {float: none; display: inline-block;}

	.footer .topfooter {padding-bottom: 15px;}
	.footer .topfooter .comm {margin-bottom: 25px;}
	.footer .topfooter .flogo {width: 180px;}

	.hsectwo {padding: 60px 0 30px;}
	.hsectwo .infotext img {width: 100%;}
	.hsectwo .infotext {margin-bottom: 30px;}

	.commform .regbox {width: 100%;}
	.commform .regbox .regmenu li {width: 100%; margin-right: 0; border-radius: initial; -moz-border-radius: initial; -webkit-border-radius: initial;}

	.commform .loginsocial a {margin-bottom: 15px;}


	header .rpart {position: relative; padding-top: 0; margin-top: 31px;}
	header .rpart ul li {position: initial;}
	header .rpart ul li:after {top: 3px;}
	header .rpart ul li a {pointer-events: none;}
	.headbg .rpart li .submenu {right: 15px; width: initial; top: 38px;}
	.headbg .rpart li .submenu a {pointer-events: initial;}

	header .rpart ul li::after {position: relative; right: inherit;}


	/*Landing page 2*/
	#mobilemenu {float: left; border: 1px solid #1E2C75;/* background-image: url(../images/menu-icon.png)*/; background-position: 0px center; display: block; background-repeat: no-repeat; width: 100%; cursor: pointer; font-size: 20px; font-weight: 600; color: #1E2C75;padding: 15px 30px 11px; /*padding: 15px 60px 11px;*/ line-height: initial;}
	.custheader .custnav  {margin-top: 0 !important; float: left; width: 100%; position: relative; padding: 0;}
	.custheader .custnav .menus {position: absolute; display: none; top: 49px; left: 0px; width: 100%; background-color: rgba(0,0,0,0.95);}
	.custheader .custnav .menus > li {width: 100%; margin: 0; border-bottom: 1px solid #e5e5e5;}
	.custheader .custnav .menus > li > a {padding: 8px 15px;}
	.custheader .custnav .menus > li.dropmenu > a {background-image: none;}
	.custheader .custnav .msubmenu {position: absolute; z-index: 2; top: 0; right: 0; width: 40px; height: 40px; cursor: pointer; background: url(../images/down-arrow.png) no-repeat center center; transition:all 0.3s ease 0s; -moz-transition:all 0.3s ease 0s; -webkit-transition:all 0.3s ease 0s;}
	.custheader .custnav .opensub {transform: rotate(180deg); -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg);}
	.submenus {opacity: 1; display: none; top: auto; visibility: visible; float: left; width: 100%; position: relative;}

	.fsize {font-size: 9px !important; top: -.5em;}
	.custheader .signin {position: initial; top: initial; border: initial; padding: 8px 20px 8px 15px !important;}

	.custheader {position: relative;}
	.mainslider .carousel-item {height: initial;}
	.mainslider .infobox h3 {font-size: 18px;}
	.mainslider .infobox h4 {font-size: 16px;}
	.custheader .logo {width: 100px;}
	.carousel-control-next, .carousel-control-prev {width: 40px; height: 40px;}
	.carousel-control-next .carousel-control-next-icon, .carousel-control-prev .carousel-control-prev-icon {width: 13px; height: 13px;}

	.hsectwo .starter-text h1 {font-size: 24px !important;}
	.hsectwo .starter-text h1 sup.fsize {top: -1.2em; font-size: 10px !important;}
	.hsectwo .starter-text p {font-size: 19px;}
	.joinnowbox {display: block;}
	
	.custheader .logo {width: 100%; margin-bottom: 20px;}
	.breatcome_area {background-position: center 37%;}
	.joinnowbox a {max-width: 300px; margin: 12px auto; display: block; margin-top:120px;}

	.breatcome_area {padding: 20% 0% 19% 0% !important;}
	.breatcome_area h4 {font-size: 30px !important;}

	.contactus .titlebox h4 {font-size: 23px !important;}
	.contactus .regbox .form-group:last-child {margin-bottom: 1rem !important;}
	.contactus .cbttn {margin-top: 0;}
}

@media only screen and (max-width: 576px){
	header .rpart .signin {display: inline-block; width: 68%; margin-top: 15px;}
	.communitypart h1 {font-size: 35px; line-height: initial;}
	.subscribe .subscribe-pan form.box input {width: 100%;}
	.subscribe .subscribe-pan form.box .formButton {display: inline-block; width: 100%; margin-top: 10px;}
	.subscribe {padding: 40px 0 0;}
	.subscribe .subscribe-pan h2 {font-size: 30px;}
	.communitypart li a {font-size: 17px;}

	.commform .regbox .regmenu li {font-size: 18px;}

	.selectshool .shadobox {padding: 15px;}
	.selectshool .listbox li .rbox {width: 100%; margin-bottom: 5px;}
	.selectshool .listbox li .fbttn {width: 100%; height: 40px; font-size: 15px; padding-top: 5px;}
	.selectshool .searchlabel {height: auto;}
	.selectshool .searchlabel h4 {width: 100%; text-align: center;}
	.selectshool .searchlabel p {width: 100%; text-align: center;}

	.customehead .logo a {display: inline-block; width: 250px;}
	.customehead .logo a img {width: 100px;}

	/*Landing page 2*/
	.carousel-control-prev, .carousel-control-next {display: none;}
	.mainslider .infobox .bttnbox a {font-size: 13px; padding: 10px 20px 9px; margin: 15px 5px 0;}
}
@media only screen and (max-width: 479px){
	header .rpart ul li a {font-size: 14px;}
	header .rpart .signin {width: 100%;}

	.footer .copyright .socialpart {width: 100%; text-align: center;}
	.footer .copyright .socialpart li {float: none; display: inline-block;}
	.footer .copyright .copypart {width: 100%; text-align: center;}

	.commform .titlebox h4 {font-size: 25px;}
	.commform .titlebox h5 {font-size: 18px;}
	.commform .regbox {padding: 15px;}
	.commform .regbox .form-group:last-child {margin-bottom: 0;}

	.commform .loginsocial h3 {font-size: 22px;}
}	
