article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {display: block; margin: 0; padding: 0;}
* {box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
html {font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
html, body, div, h1, h2, h3, h4, h5, h6, p, ul, li, form {margin: 0; padding: 0; list-style: none; font-weight: normal;}
button, input, select, textarea {margin: 0; padding: 0; border: none; font-family: 'FivoSansRegular';}
/*.custfield:focus {outline: none; border: none; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;}*/
body {font-family: 'FivoSansRegular'; font-size: 16px; color: #333333;}
a {text-decoration: none;}
a:hover, a:focus {text-decoration: none; outline: none;}
img {border: none; vertical-align: middle;}

/** Font **/
@font-face {
    font-family: 'FivoSansRegular';
    src: url('../fonts/FivoSansRegular.eot');
    src: url('../fonts/FivoSansRegular.eot') format('embedded-opentype'),
         url('../fonts/FivoSansRegular.woff2') format('woff2'),
         url('../fonts/FivoSansRegular.woff') format('woff'),
         url('../fonts/FivoSansRegular.ttf') format('truetype'),
         url('../fonts/FivoSansRegular.svg#FivoSansRegular') format('svg');
}
@font-face {
    font-family: 'FivoSansMedium';
    src: url('../fonts/FivoSansMedium.eot');
    src: url('../fonts/FivoSansMedium.eot') format('embedded-opentype'),
         url('../fonts/FivoSansMedium.woff2') format('woff2'),
         url('../fonts/FivoSansMedium.woff') format('woff'),
         url('../fonts/FivoSansMedium.ttf') format('truetype'),
         url('../fonts/FivoSansMedium.svg#FivoSansMedium') format('svg');
}
@font-face {
    font-family: 'FivoSansBold';
    src: url('../fonts/FivoSansBold.eot');
    src: url('../fonts/FivoSansBold.eot') format('embedded-opentype'),
         url('../fonts/FivoSansBold.woff2') format('woff2'),
         url('../fonts/FivoSansBold.woff') format('woff'),
         url('../fonts/FivoSansBold.ttf') format('truetype'),
         url('../fonts/FivoSansBold.svg#FivoSansBold') format('svg');
}



/****************
 * Common Css
 ****************/
header, section, footer {width: 100%; float: left;}
/*.container {width: 1600px;}*/
/*.custfield {border: none; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;}*/
a, a:hover, .submenus, img, button {transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -webkit-transition: all 0.4s ease-in-out;}
.cbttn {width: 100%; height: 45px; background-color: #1E2C75; color: #ffffff; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; font-size: 16px;}
.cbttn:hover {background-color: #4a4742;}
.primary-button {background-color: transparent; border: 1px solid #1E2C75; color: #1E2C75; padding: 0.7rem 1.7rem; font-weight: 600; transition: all .2s;  border-radius: 25px; display: inline-block;}
.primary-button:hover {background-color:#1E2C75; color:#fff;}

.container-fluid {padding-right: 40px; padding-left: 40px;}
header {padding: 15px 0;}
header .logo {float: left;}
header .logo img {width: 182px;}
header .rpart {float: right; padding: 31px 0;}
header .rpart ul {float: left; margin-right: 20px; margin-top: 11px;}
header .rpart ul li {float: left; position: relative;}
header .rpart ul li a {font-family: 'FivoSansMedium'; font-size: 16px; color: #333333; text-transform: uppercase; margin: 0 15px;}
header .rpart ul li a:hover {color: #1E2C75;}
header .rpart ul li:after {content: '|'; font-size: 25px; position: absolute; top: -7px; right: -5px;}
header .rpart ul li:last-child:after {display: none;}
header .rpart .signin {border: 1px solid #1E2C75; padding: 10px 29px 7px; border-radius: 25px; font-family: 'FivoSansMedium';  font-size: 15px; color: #1E2C75; display: inline-block;}
header .rpart .signin:hover {background-color: #1E2C75; color: #fff;}


.headbg .rpart li .submenu {position: absolute; top: 12px; width: 200px; left: 10px; background-color: #ffffff; z-index: 11; display: none; border: 1px solid #f2f2f2; box-shadow: 0 0 10px rgba(0,0,0,0.2);}
.headbg .rpart li .submenu a {float: left; width: 100%; text-transform: capitalize;}
.headbg .rpart li:hover .submenu {display: block; z-index: 1}
.headbg .rpart ul .submenu li:after {display: none;}
.headbg .rpart ul .submenu li {float: left; width: 100%; padding: 10px; border-bottom: 1px solid #f2f2f2;}
.headbg .rpart ul .submenu li a {margin: 0;}


.custhead .logo img {width: 130px;}
.custhead .rpart {padding: 21px 0 0;}
.fsize {font-size: 18px !important; top: -1.2em;}
.hsectwo .starter-text h1 sup.fsize {top: -1.2em;font-size: 15px !important;}

.communitypart {padding: 40px 0;  position: relative; margin-bottom: 50px;}
.communitypart .infopart {margin-top: 32px;}
.communitypart h1 {font-size: 54px; font-family: 'FivoSansBold'; line-height: 53px; text-align: center; color: #000;}
.communitypart p {font-size: 22px; color: #525151; margin-top: 10px; text-align:center;}
.communitypart ul {float: left; width: 100%; margin-top: 25px;}
.communitypart li {float: left; width: 100%; margin-bottom: 20px;}
.communitypart li a {float: left; width: 100%; padding: 16px 25px 13px; border: 1px solid #454545; border-radius: 40px; font-size: 24px; color: #454545; background-image: url(../images/arrow.png); background-repeat: no-repeat; background-position: 92% center;}
.communitypart li a:hover {background-position: 94% center;}
.communitypart .mainimg {width: 55%; background-color: #f2f2f2; position: absolute; top: 0; right: 0; bottom: 0; border-top-left-radius: 300px; border-bottom-left-radius: 300px; overflow: hidden;}
.communitypart .mainimg img {width: 100%; height: 100%; object-fit: cover;}
.hsectwo {padding: 60px 0; position: relative; background-color: #f6f6f6;}
.hsectwo .infotext {text-align:center;}
.hsectwo .infotext img {width:95%; margin-bottom: 15px;}
.hsectwo .infotext h3 {font-size: 30px; font-weight: 600; line-height: 1; margin-bottom:10px; text-align:center;}
.hsectwo .infotext p {margin-bottom:15px; text-align:center;}
.subscribe {padding: 80px 0; position: relative;}
.subscribe .subscribe-pan {text-align:center; width: 100%;}
.subscribe .subscribe-pan h2 {text-align:center; font-weight:600; font-size: 36px;}
.subscribe .subscribe-pan form.box {width: 50%; box-shadow: 0 5px 28px rgba(10,10,10,.1); margin-top: 1.7em; padding: 2em; margin: 30px auto 0;}
.subscribe .subscribe-pan form.box input {width: 79%; padding: .75rem; border-bottom: 1px solid #ccc; padding-bottom: 4px; font-size: 1rem;}
.subscribe .subscribe-pan form.box .formButton {background-color: #1E2C75; color: #fff; border-radius: 5px; padding: 0.8rem 1.5rem; font-weight: 600;}
.footer .topfooter {background-color: #f6f8f9; padding: 50px 0 40px;}
.footer .topfooter .flogo img {width: 182px;}
.footer .topfooter h3 {font-size: 20px; color: #333333; font-family: 'FivoSansBold'; margin-bottom: 15px;}
.footer .topfooter h3:after {content: ''; display: block; width: 30px; height: 3px; background-color: #1E2C75; margin-top: 10px;}
.footer .topfooter li {margin-bottom: 5px;}
.footer .topfooter li:last-child {margin-bottom: 0;}
.footer .topfooter li a {color: #555555; font-size: 16px;}
.footer .topfooter li a:hover {color: #1E2C75;}
.footer .copyright {float: left; width: 100%; background-color: #e9ebec; border-top: 1px solid #dedede; padding: 15px 0 13px;}
.footer .copyright .socialpart {float: left;}
.footer .copyright .socialpart li {float: left; margin-right: 30px; }
.footer .copyright .socialpart li img {width:35px; opacity: 0.6}
.footer .copyright .socialpart li:last-child {margin-right: 0;}
.footer .copyright .socialpart li img:hover {opacity: 1;}
.footer .copyright .copypart {float: right;}
.footer .copyright .copypart p {margin-top: 4px; font-size: 16px; color: #767676;}

.commform {padding: 70px 0 80px; border-top: 1px solid #e9ebec;}
.commform .regbox {width: 650px; margin: 0 auto; padding: 40px; box-shadow: 0 0 20px #f2f2f2; -moz-box-shadow: 0 0 20px #f2f2f2; -webkit-box-shadow: 0 0 20px #f2f2f2; border: 1px solid #f6f6f6; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;}
.commform .titlebox {text-align: center; margin-bottom: 20px;}
.commform .titlebox h4 {font-size: 30px; text-transform: uppercase; font-family: 'FivoSansBold'; padding-bottom: 10px;}
.commform .regbox .forgotpass {padding-top: 12px; display: inline-block; text-decoration: underline; color: #333333;}
.custfield {height: 50px;}
.commform .regbox .forgotpass:hover {color: #1E2C75;}
.commform .regbox .cbttn {font-size: 18px; text-transform: uppercase; height: 50px; padding-top: 5px;}
.commform .regbox .all_tab {display: inline-block; width: 100%; border: 1px solid #f2f2f2; padding: 15px;}

.regstep .regbox {width: 100%;}
.regstep .regbox .formtitle {position: relative;}
.regstep .regbox .formtitle h4 {font-size: 23px; background-color: #ffffff; display: inline-block; padding-right: 15px; font-family: 'FivoSansMedium';}
.regstep .regbox .formtitle h4:before {content: ''; border-top: 1px solid #ced4da; width: 100%; float: left; position: absolute; top: 50%; transform: translateY(-50%); z-index: -1;}
.regstep .regbox .h30 {margin-top: 30px;}
.commform .regbox .formttermcon {text-align: center; margin-top: 15px;}
.commform .regbox small {color: #777777; display: block;}
.commform .regbox small a {text-align: center; color: #000000;}
.commform .regbox small a:hover {color: #1E2C75;}

.commform .regbox .regmenu {float: left; width: 100%; border-bottom: 1px solid #f2f2f2;} 
.commform .regbox .regmenu {width: 100%;}
.commform .regbox .regmenu li {float: left; background-color: #f2f2f2; font-size: 20px; padding: 12px 30px 10px; text-align: center; width: 49.6%; margin-right: 4px; cursor: pointer; border-top-right-radius: 7px; -moz-border-top-right-radius: 7px; -webkit-border-top-right-radius: 7px; border-top-left-radius: 7px; -moz-border-top-left-radius: 7px; -webkit-border-top-left-radius: 7px;}
.commform .regbox .regmenu li:last-child {margin-right: 0;}
.commform .regbox .regmenu li.active {background-color: #1E2C75; color: #ffffff;}
.commform .previstep {display: inline-block; margin-top: 10px;}

.selectshool {padding: 70px 0 80px;}
.selectshool .shadobox {width: 100%; padding: 40px; box-shadow: 0 0 20px #f2f2f2; -moz-box-shadow: 0 0 20px #f2f2f2; -webkit-box-shadow: 0 0 20px #f2f2f2; border: 1px solid #f6f6f6; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;}
.selectshool .shadobox .toptitle {width: 100%; margin-bottom: 20px;}
.selectshool .shadobox .toptitle h3 {font-family: 'FivoSansBold'; font-size: 30px;}
.selectshool .shadobox .toptitle p {font-size: 17px;}

.selectshool .listbox {height: 500px; overflow-y: scroll; border: 1px solid #f2f2f2;}
.selectshool .listbox ul {display: inline-block; width: 100%;}
.selectshool .listbox li {float: left; width: 100%; border-bottom: 1px solid #f2f2f2; padding: 10px;}
.selectshool .listbox li:nth-child(odd) {background-color: #f2f2f2;}
.selectshool .listbox li:last-child {border-bottom: none; padding-bottom: 0;}
.selectshool .listbox li .rbox {float: left;}
.selectshool .listbox li .rbox h4 {font-size: 19px; font-family: 'FivoSansMedium';}
.selectshool .listbox li .fbttn {float: right; height: 45px; padding: 0 25px; background-color: #4a4742; color: #ffffff; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; font-size: 16px;}
.selectshool .listbox li .fbttn:hover {background-color: #1E2C75;}
.selectshool .searchlabel {float: left; width: 100%; height: 50px; border: 1px solid #f2f2f2; background-color: #f2f2f2; margin-bottom: 16px; padding: 10px;}
.selectshool .searchlabel h4 {float: left; font-size: 16px; padding-top: 6px;}
.selectshool .searchlabel p {float: right; font-size: 18px; padding-top: 3px; font-family: 'FivoSansMedium';}
.selectshool .contbttn {margin-top: 25px;}
.selectshool .serchbox {position: relative;}
.selectshool .serchbox .custfield {padding-left: 50px;}
.selectshool .serchbox:after {content: '\f002'; font-family: 'Font Awesome 5 Free'; font-weight: 900; position: absolute; top: 11px; left: 18px; font-size: 20px;}
.selectshool .cbttn {font-size: 18px; text-transform: uppercase;}

.planpart .titlebox {margin-bottom: 50px;}
.planpart table { width: 100%; text-align: left; border-spacing: 0; border-collapse: collapse; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.planpart th, .planpart td { font-family: inherit; font-size: .875em; line-height: 1.45; color: #444; vertical-align: middle; padding: 1em; }
.planpart th { font-weight: 600; }
.planpart colgroup:nth-child(1) { width: 31%; border: 0 none; }
.planpart colgroup:nth-child(2) { width: 22%; border: 5px solid #1E2C75; }
.planpart colgroup:nth-child(3) { width: 25%; border: 1px solid #ccc; }
.planpart colgroup:nth-child(4) { width: 22%; border: 1px solid #ccc; }

/* Tablehead */
.planpart thead th { background: #def4fe; background: -moz-linear-gradient(top,  #ffffff 0%, #f5f5f5 100%); background: -webkit-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); background: -o-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); background: -ms-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); background: linear-gradient(to bottom,  #ffffff 0%,#f5f5f5 100%); text-align: center; position: relative; border-bottom: 1px solid #ccc; padding: 3em 0 2em; font-weight: 400; color: #999; }
.planpart thead th:nth-child(1) { background: transparent;  }
.planpart thead th:nth-child(3) {  padding: 2em 0; }
.planpart thead th h2 { font-weight: 300; font-size: 25px; line-height: 1.2; color: #1E2C75; }
.planpart thead th h2 + p { font-size: 1.25em; line-height: 1.4; }
.planpart thead th:nth-child(3) h2 { font-size: 35px; }
.planpart thead th:nth-child(3) h2 + p { font-size: 1.5em; }
.planpart thead th p.promo { font-size: 1em; color: #fff; position: absolute; top: 9em; left: -17px; z-index: 1000; right: -17px; margin: 0; padding: .625em 17px .75em; background: #c00; box-shadow: 0 2px 4px rgba(0,0,0,.25); border-bottom: 1px solid #900; }
.planpart thead th p.promo:before { content: ""; position: absolute; display: block; width: 0px; height: 0px; border-style: solid; border-width: 0 7px 7px 0; border-color: transparent #900 transparent transparent; bottom: -7px; left: 0; }
.planpart thead th p.promo:after { content: ""; position: absolute; display: block; width: 0px; height: 0px; border-style: solid; border-width: 7px 7px 0 0; border-color: #900 transparent transparent transparent; bottom: -7px; right: 0; }

/* Tablebody */
.planpart tbody th { background: #fff; border-left: 1px solid #ccc; }
.planpart tbody th span { font-weight: normal; font-size: 87.5%; color: #999; display: block; }
.planpart tbody td { background: #fff; text-align: center; }
.planpart tbody tr:nth-child(even) th,
.planpart tbody tr:nth-child(even) td { background: #f5f5f5; border: 1px solid #ccc; border-width: 1px 0 1px 1px; }
.planpart tbody tr:last-child td { border-bottom: 0 none; }

/* Tablefooter */
.planpart tfoot th  { padding: 2em 1em; border-top: 1px solid #ccc; }
.planpart tfoot td  { text-align: center; padding: 2em 1em; border-top: 1px solid #ccc; }
.planpart tfoot a  { font-weight: bold; color: #fff; text-decoration: none; text-transform: uppercase; display: block; padding: 1.125em 2em; background: #1E2C75; border-radius: .5em; }
.fborder {border: 1px solid #cccccc;}

.commform .loginsocial .ctitle {position: relative; margin-top: 40px; text-align: center;}
.commform .loginsocial .ctitle:after {content: ''; border: 1px solid #ced4da; position: absolute; left: 0; right: 0; top: 14px;}
.commform .loginsocial h3 {font-size: 27px; font-weight: 600; padding-bottom: 20px; position: relative; display: inline-block; z-index: 1; background-color: #ffffff; padding: 0 15px 30px;}
.commform .loginsocial a {padding: 11px 0 10px; font-size: 19px; color: #ffffff;}
.commform .loginsocial a.bttngoogle {background-color: #c73413;}
.commform .loginsocial a.bttngoogle:hover {background-color: #b32d0f;}
.commform .loginsocial a.bttnfb {background-color: #3f579d;}
.commform .loginsocial a.bttnfb:hover {background-color: #28428e;}
.commform .loginsocial a.bttnlinkin {background-color: #0077B5;}
.commform .loginsocial a i {font-size: 23px; position: relative; top: 3px; margin-right: 8px;}


/* Landing page 2 */
.custheader {position: fixed; z-index: 111; left: 0; right: 0; top: 0;} 
#mobilemenu {display: none;}
.custheader .logo {float: left;/*width: 200px;*/width: 185px;margin-top: 14px;box-shadow: inset 6em 6em 8em rgb(255 255 255), 0 0 0 0px rgb(255 255 255), 0.3em 0.3em 1em rgb(255 255 255 / -5%); /*width: 173px;*/} 
.custheader .logo img {max-width: 100%;}
.custheader.header {background-color: rgba(255,255,255,1); padding: 8px 0; box-shadow: 0 0 7px rgba(0,0,0,0.3); -moz-box-shadow: 0 0 7px rgba(0,0,0,0.3); -webkit-box-shadow: 0 0 7px rgba(0,0,0,0.3);}
.custheader.header .logo {/*width: 100px;*/width: 200px;margin-top: 6px;}
.custheader.header .custnav {margin-top: 0;}
.custheader.header .custnav .menus > li {margin: 20px 10px 0 17px;}
.custheader.header .custnav .menus > li > a {color: #000000;}
.custheader.header .custnav .menus > li.dropmenu > a {background: url(../images/down-arrow-black.png) no-repeat 100% 10px}

.custheader .signin {border: 1px solid #1E2C75; padding: 10px 29px 9px !important; border-radius: 25px; font-family: 'FivoSansMedium';  font-size: 15px; color: #1E2C75; display: inline-block; position:  relative; top: -10px;}
.custheader .signin:hover {background-color: #1E2C75; color: #ffffff !important;}

.custheader, .custheader .custnav, .custheader .logo {transition: all 0.3s ease-in-out 0s; -moz-transition: all 0.3s ease-in-out 0s; -webkit-transition: all 0.3s ease-in-out 0s;}
.custheader .custnav {float: right; margin-top: 25px; padding: 0 10px; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;}
.custheader .custnav .menus > li {float: left; margin: 15px 10px 0 17px; position: relative;}
.custheader .custnav .menus > li > a {float: left; color: #ffffff; text-transform: uppercase; padding-bottom: 15px; font-weight: 600;}
.custheader .custnav .menus > li:hover > a {color: #1E2C75;}
.custheader .custnav .menus > li.dropmenu > a {background: url(../images/down-arrow.png) no-repeat 100% 10px; padding-right: 20px;}
.submenus {position: absolute; left: 0; top: 50px; opacity: 0; visibility: hidden; width: 237px; z-index: 1; background: #ffffff; border-top: 4px solid #ef3e35;}
.submenus > li {float: left; width: 100%; }
.submenus > li:last-child {border-bottom: none;}
.submenus > li > a {display: block; color: #54575a; padding: 9px 15px 8px; }
.submenus > li > a:hover {color: #ffffff; background: #ef3e35 url(../images/left-arrow.png) no-repeat 15px center;}
@media only screen and (min-width: 992px){
.custheader .custnav .menus > li:hover .submenus {opacity: 1; visibility: visible; top: 100%;}
}

.commonslider .owl-carousel {display: none; width: 100%; -webkit-tap-highlight-color: transparent; position: relative;}
.commonslider .owl-carousel .owl-stage {position: relative; -ms-touch-action: pan-Y; -moz-backface-visibility: hidden;}
.commonslider .owl-carousel .owl-stage:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
.commonslider .owl-carousel .owl-stage-outer {position: relative; overflow: hidden; -webkit-transform: translate3d(0px, 0px, 0px);}
.commonslider .owl-carousel .owl-wrapper, .commonslider .owl-carousel .owl-item {-webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0);}
.commonslider .owl-carousel .owl-item {position: relative; min-height: 1px; float: left; -webkit-backface-visibility: hidden; -webkit-tap-highlight-color: transparent; -webkit-touch-callout: none;}
.commonslider .owl-carousel.owl-loaded {display: block;}
.commonslider .owl-carousel.owl-loading {opacity: 0; display: block;}
.commonslider .owl-carousel.owl-hidden {opacity: 0;}
.commonslider .owl-carousel.owl-refresh .owl-item {visibility: hidden;}
.commonslider .owl-carousel.owl-grab {cursor: move; cursor: grab;}

.mainslider {position: relative;}
.mainslider .carousel-item {width: 100%; height: 100vh; position: relative;}
.mainslider .carousel-item:after {width: 100%; height: 100%; content: ''; background-color: rgba(0,0,0,0.5); position: absolute; top: 0; right: 0; left: 0; bottom: 0;}
.mainslider .carousel-item img {width: 100%; height: 100%; object-fit: cover;}
.mainslider .infobox {position: absolute; top: 50%; left: 50%; width: 100%; transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); z-index: 2; text-align: center;}
.mainslider .infobox h3 {font-size: 55px; color: #ffffff; font-family: 'FivoSansBold'; padding-bottom: 7px;}
.mainslider .infobox h4 {font-size: 40px; color: #ffffff;}
.mainslider .infobox .bttnbox a {display: inline-block; padding: 10px 30px 9px; border: 1px solid #ffffff; margin: 25px 10px 0; border-radius: 25px; color: #ffffff; font-size: 17px;}
.mainslider .infobox .bttnbox a:hover {background-color: #ef3e35; border-color: #ef3e35;}
.mainslider .owl-nav .owl-prev {background-image: url(../images/slider-arrow.png); background-repeat: no-repeat; background-position: center; position: absolute; top: 50%; left: 15px; z-index: 1; color: #ffffff; background-color: rgba(0,0,0,0.5); width: 70px; height: 70px; border-radius: 100%; -moz-border-radius: 100%; -webkit-border-radius: 100%; cursor: pointer;}
.mainslider .owl-nav .owl-next {background-image: url(../images/slider-arrow2.png); background-repeat: no-repeat; background-position: center; position: absolute; top: 50%; right: 15px; z-index: 1; color: #ffffff; background-color: rgba(0,0,0,0.5); width: 70px; height: 70px; border-radius: 100%; -moz-border-radius: 100%; -webkit-border-radius: 100%; cursor: pointer;}
.mainslider .owl-nav .owl-prev:hover, .mainslider .owl-nav .owl-next:hover {background-color: rgba(0,0,0,0.2);}


.carousel-control-prev, .carousel-control-next {z-index: 11;}


.carousel.carousel-fade .carousel-item {
    display: block;
    opacity: 0;
    transition: opacity ease-out 0.4s;
    left: 0;
    top: 0;
    position: absolute;
}
.carousel.carousel-fade .carousel-item.active {
    opacity: 1;
}
.carousel.carousel-fade .carousel-item:first-child {
    top: auto;
    position: relative;
    transition: opacity ease-out 0.5s;
}
.carousel.carousel-fade .carousel-item:second-child {
    top: auto;
    position: relative;
    transition: opacity ease-out 1.3s;
}
.hsectwo .starter-text h1 {
    font-size: 35px!important;
    margin-bottom: 15px;
    font-weight: 600;
}
.hsectwo .starter-text p {
    font-size: 22px;
}
.carousel-control-next, .carousel-control-prev {width: initial; bottom: initial; top: 50%; transform: translateY(-50%); -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%); width: 70px; height: 70px; border-radius: 100%; -moz-border-radius: 100%; -webkit-border-radius: 100%; background-color: rgba(0,0,0,0.5);}
.carousel-control-next {right: 25px;}
.carousel-control-prev {left: 25px;}

.joinnowbox {display: none; text-align: center; padding: 15px 0;}
.joinnowbox .contnum {display: inline-block; font-size: 26px; color: #1E2C75; font-family: 'FivoSansMedium'; background-color: transparent; margin: 0; padding: 0;}
.joinnowbox a {width: 100%; padding: 12px 15px 8px; background-color: #1E2C75; width: 100%; font-size: 19px; margin-top: 15px; display: inline-block; color: #ffffff; border-radius: 25px; -moz-border-radius: 25px; -webkit-border-radius: 25px;}


.breatcome_area {padding: 12% 0% 5.6% 0% !important; background-repeat: no-repeat; background-size: cover; background-position: 0px -30px;/*background-position: 0px -175px;*/ position: relative; text-align: center;}
.breatcome_area:after {content: ''; position: absolute; left: 0; right: 0; top: 0; bottom: 0;background-color: rgba(0,0,0,0.6);}
.breatcome_area h4 {font-weight: 700; font-size: 46px!important; color: #ffffff; z-index: 11; position: relative;}
.informationbox {padding: 60px 0;}
.informationbox h2 {font-size: 30px; font-weight: 700; color: #3333333; padding-bottom: 13px;}
.informationbox p {color: #666666; line-height: 1.8em; font-size: 18px;}

ul.bullet-list{list-style-type: none!important; padding-top: 15px;}
ul.bullet-list li {margin-bottom: 7px; font-size: 18px; color: #666666; position: relative; padding-left: 26px;}
ul.bullet-list li:before{content: '\f058'!important; color: #1E2C75; font-family: 'Font Awesome 5 Free'; font-weight: 700; margin-right: 10px; font-size: 1em!important; position: absolute; left: 0;}
.contactus .custarea {height: 145px !important; resize: none;}
.contactus .cbttn {margin-top: 20px;}